@if (Habits is null)
{
    <p>Завантаження...</p>
}
else
{
    <table class="table my-4">
        <thead>
            <tr>
                <th></th>
                @foreach (var day in DaysOfWeek)
                {
                    <th>@ukrainian.DateTimeFormat.GetShortestDayName(day)</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var habit in Habits)
            {
                <tr style="line-height: 2rem">
                    <th scope="row">@habit.Title</th>
                    @foreach (var day in DaysOfWeek)
                    {
                        <td>
                            @if (habit.Records.Any(f => f.Date.DayOfWeek == day))
                            {
                                <input type="checkbox" checked="@GetChecked(habit, day)" disabled
                                        class="form-check-input mt-0"
                                       style="@GetCheckedStyle(habit, day)"
                                        id="@habit.Id" />
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public List<Habit>? Habits { get; set; }

    private CultureInfo ukrainian = CultureInfo.GetCultureInfo("uk-UA");

    private List<DayOfWeek> DaysOfWeek = Enum.GetValues<DayOfWeek>().ToList();

    private bool GetChecked(Habit habit, DayOfWeek day)
    {
        var records = habit.Records.Where(r => r.Date.DayOfWeek == day);
        return records.All(r => r.IsDone);
    }

    private string GetCheckedStyle(Habit habit, DayOfWeek day)
    {
        var style = "height: 1.6rem; width: 1.6rem;";

        return GetChecked(habit, day) ? $"{style} background-color: {habit.HexCode}; border-color: {habit.HexCode};" : style;
    }

}