@if (Habits is null)
{
    <p>Завантаження...</p>
}
else
{
    <p class="fw-bold fs-4">
        @GetCurrentWeekDate()
    </p>

    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: @GetProgressValue()">@GetProgressValue()</div>
    </div>


    <table class="table my-4">
        <thead>
            <tr>
                <th></th>
                @foreach (var day in DaysOfWeek)
                {
                    <th>@ukrainian.DateTimeFormat.GetShortestDayName(day)</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var habit in Habits)
            {
                <tr style="line-height: 2rem">
                    <th scope="row">@habit.Title</th>
                    @foreach (var day in DaysOfWeek)
                    {
                        <td>
                            @if (day >= habit.StartDate.DayOfWeek && habit.Frequencies.Any(f => f.DayOfWeek == day) &&
                           habit.Records.Any(f => f.Date.DayOfWeek == day && f.Date.Date >= CurrentWeekDates.First() && f.Date.Date <= CurrentWeekDates.Last()))
                            {
                                <input type="checkbox" checked="@GetChecked(habit, day)" disabled
                                        class="form-check-input mt-0"
                                        style="@GetCheckedStyle(habit, day)"
                                        id="@habit.Id" />
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <div class="container mb-3 d-flex justify-content-between">
        <button class="btn btn-secondary" @onclick="PreviousWeek">←</button>
        <button class="btn btn-primary" @onclick="SetCurrentWeek">Сьогодні</button>
        <button class="btn btn-secondary" @onclick="NextWeek" disabled="@IsEnabledButton">→</button>
    </div>
}

@code {
    [Parameter]
    public List<Habit>? Habits { get; set; }

    [Parameter]
    public int ProgressValue { get; set; } = 0;

    private DateTime CurrentDate { get; set; } = DateTime.Today;

    private CultureInfo ukrainian = CultureInfo.GetCultureInfo("uk-UA");

    private List<DayOfWeek> DaysOfWeek => Enum.GetValues<DayOfWeek>().ToList();

    private List<DateTime> CurrentWeekDates => Enumerable.Range(0, 7).Select(i => CurrentDate.AddDays(i - (int)CurrentDate.DayOfWeek)).ToList();

    private bool GetChecked(Habit habit, DayOfWeek day)
    {
        var records = habit.Records.Where(r => r.Date.DayOfWeek == day);
        return records.All(r => r.IsDone);
    }

    private string GetCheckedStyle(Habit habit, DayOfWeek day)
    {
        var style = "height: 1.6rem; width: 1.6rem;";

        return GetChecked(habit, day) ? $"{style} background-color: {habit.HexCode}; border-color: {habit.HexCode};" : style;
    }

    private string GetCurrentWeekDate()
    {
        var monday = ukrainian.DateTimeFormat.GetShortestDayName(DaysOfWeek.First());
        var sunday = ukrainian.DateTimeFormat.GetShortestDayName(DaysOfWeek.Last());

        var startDate = CurrentDate.AddDays(-(int)CurrentDate.DayOfWeek).ToString("MMM dd", ukrainian);
        var endDate =CurrentDate.AddDays(6 - (int)CurrentDate.DayOfWeek).ToString("MMM dd", ukrainian);

        return $"{monday}, {startDate} - {sunday}, {endDate}";
    }

    private string GetProgressValue()
    {
        return $"{ProgressValue}%";
    }

    private bool IsEnabledButton => DateTime.Today.Date <= CurrentDate.Date;

    private void NextWeek()
    {
        if (IsEnabledButton)
        {
            return;
        }

        CurrentDate = CurrentDate.AddDays(7);
    }

    private void PreviousWeek()
    {
        CurrentDate = CurrentDate.AddDays(-7);
    }

    private void SetCurrentWeek()
    {
        CurrentDate = DateTime.Today;
    }
}